[Unit]
Description=CAMN-Run-Wind-Sensor

[Service]
ExecStart=/usr/bin/python3 /home/zero/SensorNetwork/run_wind_sensor.py

Restart=always

WorkingDirectory=/home/zero/SensorNetwork

KillSignal=SIGINT

[Install]
WantedBy=multi-user.target